#s-aea2b918-1626-47cc-a6e1-d0a7bb299fc9 #s-Label_31 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-aea2b918-1626-47cc-a6e1-d0a7bb299fc9 #s-Label_32 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-aea2b918-1626-47cc-a6e1-d0a7bb299fc9 #s-Label_34 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-aea2b918-1626-47cc-a6e1-d0a7bb299fc9 #s-Icons_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-aea2b918-1626-47cc-a6e1-d0a7bb299fc9 #s-Label_35 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-aea2b918-1626-47cc-a6e1-d0a7bb299fc9 #s-Rectangle_2 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=15) ;
  filter: alpha(opacity=15) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-aea2b918-1626-47cc-a6e1-d0a7bb299fc9 #s-Text_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-aea2b918-1626-47cc-a6e1-d0a7bb299fc9 #s-Text_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-aea2b918-1626-47cc-a6e1-d0a7bb299fc9 #s-Image_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-aea2b918-1626-47cc-a6e1-d0a7bb299fc9 #s-Button_17 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-aea2b918-1626-47cc-a6e1-d0a7bb299fc9 #s-Button_18 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=35) ;
  filter: alpha(opacity=35) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-aea2b918-1626-47cc-a6e1-d0a7bb299fc9 #s-Rectangle_19 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-aea2b918-1626-47cc-a6e1-d0a7bb299fc9 #s-Image_8 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-aea2b918-1626-47cc-a6e1-d0a7bb299fc9 #s-Image_23 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-aea2b918-1626-47cc-a6e1-d0a7bb299fc9 #s-Image_24 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
#s-aea2b918-1626-47cc-a6e1-d0a7bb299fc9 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}