#s-aea2b918-1626-47cc-a6e1-d0a7bb299fc9 #s-Label_31 {
  -ms-transform: rotate(0.0deg);
}
#s-aea2b918-1626-47cc-a6e1-d0a7bb299fc9 #s-Label_32 {
  -ms-transform: rotate(0.0deg);
}
#s-aea2b918-1626-47cc-a6e1-d0a7bb299fc9 #s-Label_34 {
  -ms-transform: rotate(0.0deg);
}
#s-aea2b918-1626-47cc-a6e1-d0a7bb299fc9 #s-Panel_5 > .valign {
  vertical-align: top;
}
#s-aea2b918-1626-47cc-a6e1-d0a7bb299fc9 #s-Icons_6 {
  -ms-transform: rotate(0.0deg);
}
#s-aea2b918-1626-47cc-a6e1-d0a7bb299fc9 #s-Label_35 {
  -ms-transform: rotate(0.0deg);
}
#s-aea2b918-1626-47cc-a6e1-d0a7bb299fc9 #s-Rectangle_2 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=15);
  filter: alpha(opacity=15);
  -ms-transform: rotate(0.0deg);
}
#s-aea2b918-1626-47cc-a6e1-d0a7bb299fc9 #s-Panel_2 > .valign {
  vertical-align: top;
}
#s-aea2b918-1626-47cc-a6e1-d0a7bb299fc9 #s-Text_1 {
  -ms-transform: rotate(0.0deg);
}
#s-aea2b918-1626-47cc-a6e1-d0a7bb299fc9 #s-Text_2 {
  -ms-transform: rotate(0.0deg);
}
#s-aea2b918-1626-47cc-a6e1-d0a7bb299fc9 #s-Image_1 {
  -ms-transform: rotate(0.0deg);
}
#s-aea2b918-1626-47cc-a6e1-d0a7bb299fc9 #s-Button_17 {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #08AE9E;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #08AE9E;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #08AE9E;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #08AE9E;
  border-radius: 3px 3px 3px 3px;
  padding-top: 2px;
  padding-right: 2px;
  padding-bottom: 2px;
  padding-left: 2px;
  width: 356px;
  height: 42px;
  -ms-transform: rotate(0.0deg);
}
#s-aea2b918-1626-47cc-a6e1-d0a7bb299fc9 #s-Button_18 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=35);
  filter: alpha(opacity=35);
  -ms-transform: rotate(0.0deg);
}
#s-aea2b918-1626-47cc-a6e1-d0a7bb299fc9 #s-Rectangle_19 {
  -ms-transform: rotate(0.0deg);
}
#s-aea2b918-1626-47cc-a6e1-d0a7bb299fc9 #s-Image_8 {
  -ms-transform: rotate(0.0deg);
}
#s-aea2b918-1626-47cc-a6e1-d0a7bb299fc9 #s-Image_23 {
  -ms-transform: rotate(0.0deg);
}
#s-aea2b918-1626-47cc-a6e1-d0a7bb299fc9 #s-Image_24 {
  -ms-transform: rotate(0.0deg);
}
#jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
#s-aea2b918-1626-47cc-a6e1-d0a7bb299fc9 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}