#s-eb1f9ccc-75bc-428f-bb55-6947f890d024 #s-Label_31 {
  -ms-transform: rotate(0.0deg);
}
#s-eb1f9ccc-75bc-428f-bb55-6947f890d024 #s-Label_32 {
  -ms-transform: rotate(0.0deg);
}
#s-eb1f9ccc-75bc-428f-bb55-6947f890d024 #s-Panel_5 > .valign {
  vertical-align: top;
}
#s-eb1f9ccc-75bc-428f-bb55-6947f890d024 #s-Icons_6 {
  -ms-transform: rotate(0.0deg);
}
#s-eb1f9ccc-75bc-428f-bb55-6947f890d024 #s-Label_35 {
  -ms-transform: rotate(0.0deg);
}
#s-eb1f9ccc-75bc-428f-bb55-6947f890d024 #s-Rectangle_2 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=15);
  filter: alpha(opacity=15);
  -ms-transform: rotate(0.0deg);
}
#s-eb1f9ccc-75bc-428f-bb55-6947f890d024 #s-Panel_2 > .valign {
  vertical-align: top;
}
#s-eb1f9ccc-75bc-428f-bb55-6947f890d024 #s-Row_cell_3 {
  position: relative;
}
#s-eb1f9ccc-75bc-428f-bb55-6947f890d024 #s-Mail .s-Row_cell_4 {
  position: relative;
}
#s-eb1f9ccc-75bc-428f-bb55-6947f890d024 #s-Mail .s-Image_1 {
  -ms-transform: rotate(0.0deg);
}
#s-eb1f9ccc-75bc-428f-bb55-6947f890d024 #s-Rectangle_19 {
  -ms-transform: rotate(0.0deg);
}
#s-eb1f9ccc-75bc-428f-bb55-6947f890d024 #s-Image_8 {
  -ms-transform: rotate(0.0deg);
}
#s-eb1f9ccc-75bc-428f-bb55-6947f890d024 #s-Image_23 {
  -ms-transform: rotate(0.0deg);
}
#s-eb1f9ccc-75bc-428f-bb55-6947f890d024 #s-Image_24 {
  -ms-transform: rotate(0.0deg);
}
#s-eb1f9ccc-75bc-428f-bb55-6947f890d024 #s-Text_1 {
  -ms-transform: rotate(0.0deg);
}
#s-eb1f9ccc-75bc-428f-bb55-6947f890d024 #s-Line_1 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #C0C0C0;
  -ms-transform: rotate(0.0deg);
}
#s-eb1f9ccc-75bc-428f-bb55-6947f890d024 #s-Line_1 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #C0C0C0;
  -ms-transform: rotate(0.0deg);
}
#s-eb1f9ccc-75bc-428f-bb55-6947f890d024 #s-Line_2 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #C0C0C0;
  -ms-transform: rotate(0.0deg);
}
#s-eb1f9ccc-75bc-428f-bb55-6947f890d024 #s-Line_2 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #C0C0C0;
  -ms-transform: rotate(0.0deg);
}
#s-eb1f9ccc-75bc-428f-bb55-6947f890d024 #s-Text_2 {
  -ms-transform: rotate(0.0deg);
}
#s-eb1f9ccc-75bc-428f-bb55-6947f890d024 #s-Line_3 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #C0C0C0;
  -ms-transform: rotate(0.0deg);
}
#s-eb1f9ccc-75bc-428f-bb55-6947f890d024 #s-Line_3 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #C0C0C0;
  -ms-transform: rotate(0.0deg);
}
#s-eb1f9ccc-75bc-428f-bb55-6947f890d024 #s-Text_3 {
  -ms-transform: rotate(0.0deg);
}
#jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
#s-eb1f9ccc-75bc-428f-bb55-6947f890d024 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}